// Define variables for your color scheme

// For example:
$red: rgba(242, 118, 118, 1);
$blue: #40C4FF;
$yellow: #FFC400;
$orange: #E67E22;
$green: rgba(0, 210, 146, 1);
$gray: #212121;
$light-gray: #F4F4F4;
$medium-gray: #D8D8D8;
$duck-blue: rgba(21, 82, 99, 1);
