// Define variables for your color scheme

// For example:
$red: rgba(242, 118, 118, 1);
$blue: rgba(70, 205, 207, 1);
$yellow: rgba(255, 194, 63, 1);
$orange: #E67E22;
$green: rgba(0, 210, 146, 1);
$gray: #000000;
$light-gray: #F4F4F4;
$duck-blue: rgba(21, 82, 99, 1);
