.causes-resume {
  flex-grow: 1;
  h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    margin: 0px 20px 5px;
  }
}

.bullet {
  background-color: $brand-success;
  font-size: 12px;
  padding: 5px 10px;
  color: white;
}

#no-bullet, #no-bullet-mobile, #no-project {
  color: $brand-primary;
}

#no-bullet-mobile {
  font-size: 16px;
}

.funnel-main-content {
  padding-top: 10px;
  form {
    margin:30px;
  }
  h4 {
    font-size: 15px;
    margin: 25px 0px;
    text-align: center;
  }
}

// Form design

.cause-choice {
  background: $medium-gray;
  padding: 30px 0px;
  margin: 15px 0px;
  width: 145px;
  font-size: 16px;
  &:hover {

  }
  &.active {
    background: $brand-success;
    color: white;
    opacity: 1;
  }
}


.local-choices {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=radio]:checked + label {
    background: $brand-success;
    color: white;
    opacity: 1;
}

@media (max-width: 768px) {
}

@media (max-width: 1024px) {
  .funnel-main-content {
    padding-top: 20px;
    form {
      margin: 30px 0px 60px;
    }
  }
  .cause-choice {
    font-size: 16px;
  }
  .form-button {
    display: block;
    text-align: center;
  }

}
