.causes-resume {
  flex-grow: 1;
  h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  em {
    font-size: 14px;
    margin-left: 20px;
  }
}


.causes-buttons {
  a {
    display: block;
    margin-bottom: 10px;
  }
}
