.total {
  position: relative;
  height: calc(100vh - 140px);
}

.banner {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.explication {
  text-align: center;
  height: 300px;
  padding: 70px;
}

.presentation {
  text-align: center;
  padding-bottom: 80px;
  height: 30%;
  padding-top: 30px;
  margin-bottom: 80px;
}
.temoignage {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  width: 100vw;
  padding: 50px 90px;
  text-align: center;
  margin-bottom: 20px;
}
.temoignage h2 {
  padding-bottom: 30px;
}

.project {
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.project h2 {
  padding-bottom: 15px;
}

.success h5 {
  padding: 15px;
}

.success p {
  font-size: 15px;
  font-style: italic;
  padding: 5px;
  }

.onglet {
  padding-bottom: 18px;
  padding-top: 30px;
  width: 600px;
  border-radius: 4px;
  font-family: $headers-font;
  font-size: 25px;
}

.home-project {
  border-radius: 4px;
  border: 1px solid rgba(0, 0 ,0 , 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 300px;
  width: 350px;
  &:hover {
    margin-top: -10px;
    transition: 0.5s;
  }
}

