.total {
  position: relative;
  height: calc(100vh - 140px);
}

.banner-photo {
  padding: 0;
}
.carousel-inner {
  height: 100vh;
}

.photo-banner {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-size: cover !important;
  background-image: center !important;
  opacity: 0.8;
  background-position: center center;
}

.home-global-container .carousel-control {
  top: 30%;
  text-shadow: none;
}

.homepage-header {
  padding: 40px;
  bottom: 20vh;
  position: absolute;
  z-index: 10;
  left: 20%;
  right: 20%;
  text-align: center;
  color: white;
}

.homepage-header h1 {
  margin-top: 20px;
  font-size: 62px;
  margin-bottom: 30px;
}

.homepage-header p {
  margin-bottom: 30px;
  font-size: 25px;
}

.carousel-inner > .item {
  height: 70vh;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.explication {
  text-align: center;
  padding: 70px;
  padding-bottom: 50px;
  font-size: 17px;
  i {
    font-size: 40px;
    color: $brand-success;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
}

.presentation {
  text-align: center;
  padding-bottom: 80px;
  height: 30%;
  padding-top: 30px;
  margin-bottom: 80px;
}

.temoignage {
  background-color: $light-gray;
  border-radius: 5px;
  text-align: center;
  width: 100vw;
  padding: 70px 50px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 17px;
  h2 {
  margin-top:0px;
  }
  p {
    font-size: 15px;
    font-style: italic;
    padding: 5px 20px;
    margin-top: 30px;
  }
  h5 {
    padding: 15px;
  }
}

.project {
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.project h2 {
  padding-bottom: 15px;
}

.onglet {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 600px;
  border-radius: 4px;
  font-family: $headers-font;
  font-size: 25px;
}

.home-project {
  border-radius: 4px;
  border: 1px solid rgba(0, 0 ,0 , 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;
  height: 300px;
  width: 350px;
  &:hover {
    margin-top: -10px;
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .home-global-container .carousel-control {
   display: none;
  }
  .homepage-header {
    left: initial;
    right: initial;
    top: 15vh;
  }
  .temoignage p {
    padding: 5px;
  }
}
