.details {
  padding: 0px 25px;
}

.project-show-row{
  margin:0px;
}

.project-statistic {
  width: fit-content;
  margin: 0 auto;
}

.contribution-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.budget-evolution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: -3px;
}

.important-number {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.important-number p {
  font-size: 14px;
}

.progress-bar {
  height: 30px;
  width: 500px;
  background-color: $light-gray;
  border-radius: 30px;
  border: 1px solid $medium-gray;
  padding: 5px;
  overflow: visible;
}

.indicator-bar {
  height: 100%;
  background-color: $blue;
  transition-duration: 1s;
  border-radius: 30px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 50px; /* To center it vertically */
  position: relative;
  animation: animate-positive 2s;
}

.indicator-bar p {
  color: black;
  font-weight: bold;
  color: black;
  padding: 10px;
  font-size: 15px;
}

.progress-title {
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: - 25px;
  left: 15px;
}
.progress-value {
  width: 26px;
  height: 25px;
  line-height: 35px;
  background: $blue;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  color: #e95095;
  position: absolute;
  right: 0px;
  top: - 3px;
}

@-webkit-keyframes animate-positive{
  0% { width: 0; }
}
@keyframes animate-positive{
  0% { width: 0; }
}

.project-presentation {
  // margin: 50px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.budget-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.association-presentation {
  margin: 20px;
}

.association-identity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 0px;
  margin: auto;
  max-width: 400px;
  background-color: $light-gray;
}

.association-name li {
  list-decoration: none;
  display: block;
  text-align: center;
}

.association-info li {
  list-style-type: none;
  padding: 5px;
  color: #5C636E;
  font-size: 15px;
}
 @media (max-width: 1200px) {
  .progress-bar {
    // display: none;
    width: 400px;
  }
  }

   @media (max-width: 900px) {
  .progress-bar {
    // display: none;
    width: 300px;
  }
  }

   @media (max-width: 768px) {
  .progress-bar {
    // display: none;
    width: 450px;
  }
  }

   @media (max-width: 525px) {
  .progress-bar {
    // display: none;
    width: 350px;
  }
  }



