.details {
  padding: 0px 25px;
}

.association-presentation {
  margin: 20px;
}

.association-identity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $medium-gray;
  padding: 30px;
  margin: 10px 80px;
  background-color: $light-gray;
}

.association-name li {
  list-decoration: none;
  display: inline;
}

.association-info li {
  list-style-type: none;
  padding: 5px;
  color: #5C636E;
  font-size: 15px;
}


.progress-bar {
  height: 25px;
  width: 500px;
  background-color: $light-gray;
  border-radius: 10px;
  border: 1px solid $medium-gray;
}

.indicator-bar {
  height: 100%;
  background-color: $blue;
  transition-duration: 1s;
  border-radius: 10px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 50px; /* To center it vertically */
}

.progress-bar p {
  color: black;
  font-weight: bold;
  color: black;
  padding: 4px;
  font-size: 15px;
}

.project-presentation {
  // margin: 50px 40px;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.budget-details {
  display: flex;
  align-items: center;
  justify-content: center;

}
 @media (max-width: 1200px) {
  .progress-bar {
    // display: none;
    width: 400px;
  }
  }

   @media (max-width: 900px) {
  .progress-bar {
    // display: none;
    width: 300px;
  }
  }

   @media (max-width: 768px) {
  .progress-bar {
    // display: none;
    width: 450px;
  }
  }

   @media (max-width: 525px) {
  .progress-bar {
    // display: none;
    width: 350px;
  }
  }



