.project-index-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-size: 14px;
  padding: 0px 10px;
  background-color: #F4F4F4;
  a {
    margin: 20px;
  }
  p {
    margin: 0px;
    padding-left: 15px;
  }
}

.bullet-finished {
  float: left;
  margin-top: 8px;
  margin-left: 3px;
  background-color: $brand-primary !important;
}


@media (max-width: 992px) {
  .project-index-footer {
    display: block;
    text-align: center;
    p {
      text-align: justify;
    }
  }
}
