.form-contribution-container {
  padding: 0 15px 20px;
  h4 {
    margin: 0px;
  }
}

.form-contribution {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  label {
    position: relative;
    left: 98px;
    padding-top: 5px;
  }
}

.contribution-label {
  position: relative;
  left: 98px;
  padding-top: 5px;
}

.form-contribution-input {
  width: 100px;
  text-align: right;
  margin-left: 5px;
}

.result-choice {
  font-size: 30px;
  width: 100%;
  text-align: right;
}

.result-checked {
  color: $blue;
}

.bullet-contribution {
  width: fit-content;
  position: fixed;
  left: 50%;
  margin-left: -21px;
  bottom: 0;
}

.criterium-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bullet-criterium {
  width: fit-content;
  margin: 5px 10px;
}

.project-focus-data {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.button-center-results {
  text-align: center;
}
