////////////////GENERAL///////////////////

.no_padding {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.no_margin {
  margin: 0px;
}

.tab-dashboard {
  background-color: rgba(210, 210, 210, 0.2);
  height: calc(100vh - 70px);
}

.height-dashboard {
  height: calc(100vh - 70px);
}
.background-image {
  height: calc(100vh - 70px);
  background: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/adb0wzhme6/image/upload/v1512987731/favela-1636534_1920_cya3tk.jpg') no-repeat center center fixed;
  background-size: cover;
}


//////////////MENU GAUCHE//////////////////////////

.welcome {
  margin: 0px;
  align-self: flex-start;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0 !important;
  padding: 15px !important;
  background-color: rgba(0, 196, 255, 0.3);
  h1 {
    margin-top: 0px;
    font-size: 27px;
    color: white;
    padding: 10px;
    border-bottom: solid 1px white;
  }
  a {
    color: white;
  }
}

@media(max-width: 720px) {
  .welcome {
  height: 40vh;
  position: sticky !important;
  top: 0 !important;
  }
  .background-image {
    height: calc(58vh - 70px);
  }
}
///////////////////////1ER ONGLET/////////////////////////

.info-container {
}

#mes_donations {
  height: calc(100vh - 70px);
}

#actualite {
  padding: 10px;
  background-color: white;
  a {
    background-color: $yellow;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.notifications {
  height: 110px;
  background-color: rgb(240, 240, 240);
  justify-content: space-around;
  position: relative;
  margin: 5px 10px;
  p {
    padding: 20px;
    font-size: 14px;
    color: rgb(180, 180, 180);
  }
  i {
    position: absolute;
    color: rgb(180, 180, 180);
    right: 9px;
    top: 9px;
  }
}

.decouvrez {
  background-color: $yellow;
  color: white;
  margin: 5px 10px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.decouvrez:hover {
  background-color: white;
  color: $yellow !important;
}


.total_dons {
  margin-top: 30px;
  display: flex;
  margin: 5px 10px;
  align-items: center;
  color: #0881A3;
  justify-content: space-around;
  background-color: white;
  padding: 20px;

}

.total_projets {
  display: flex;
  margin: 5px 10px;
  background-color: white;
  padding: 20px;
  color: #0881A3;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

.total-critere {
  display: flex;
  margin-top: 30px;
  text-align: center;
  margin: 5px 10px;
  align-items: center;
  color: #0881A3;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

.donations-count {
  color: $brand-success;
  text-align: center;
  align-items: center;
  font-size: 250%;
}

.no-project {
  .discover-project {
    margin-top: 10px;
    padding: 9px;
    font-size: 17px;
  }
  h5 {
    margin-bottom: 30px;
  }
}

.current-projects {
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  background-color: white;
  height: 80px;
  color: $brand-success;
  font-size: 25px;
}


.container-projects {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 70px)
}

.repartition_cause {
  margin: 10px;
  background-color: white;
  padding: 20px;
}


.header-carousel {
  display: flex;
  background-color: white;
  color: $brand-success;
  justify-content: space-around;
  margin-top: 5px;
}


/////////////////2E ONGLET////////////////////

#map {
  background-color: white;
  padding: 20px;
  margin-left:10px;
  flex: 0 0 30%;
  height: 50vh;
  position: sticky !important;
  top: 0 !important;
  margin-top: 5px;
}


.tab-content {
  h4 {
    margin: 30px;
  }
}

////// ONGLET IMPOT/////////////

.container-recus {

}

.zone_de_texte {
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  overflow: auto;
  height: calc(100vh - 75px);
  h3 {
  color: $brand-success;

  }
}

.tax-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tax-icon {
  img {
  width: 65px;
  height: 65px;
  }
  p {
    margin-top: 10px;
  }
}

.calendar {
  text-align: center;
}

.attachments {
  text-align: center;
}

.tax {
  text-align: center;
}

.formulaire_2042 {
  text-align: center;
  background-color: $yellow;
  color: white !important;
  width: 30%;
  a {
    color: white;
    text-decoration: none;
    background-color: $yellow;
  }
  a:hover {
    color: white !important;
    text-decoration: none !important;
    background-color: $yellow !important;
  }
}

.mes_recus {
  margin-left: 10px;
}

