////////////////GENERAL///////////////////

.no_padding {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.no_margin {
  margin: 0px;
}

.tab-dashboard {
  background-color: rgba(210, 210, 210, 0.2);
  height: calc(100vh - 70px);
}

.height-dashboard {
  height: calc(100vh - 70px);
}
.background-image {
  height: calc(100vh - 70px);
  background: linear-gradient(-225deg, rgba(0,10,16,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/adb0wzhme6/image/upload/v1512987731/favela-1636534_1920_cya3tk.jpg') no-repeat center center fixed;
  background-size: cover;
}


//////////////MENU GAUCHE//////////////////////////

.welcome {
  margin: 0px;
  align-self: flex-start;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0 !important;
  padding: 15px !important;
  background-color: rgba(0, 196, 255, 0.3);
  h1 {
    margin-top: 0px;
    font-size: 27px;
    color: white;
    padding: 10px;
    border-bottom: solid 1px white;
  }
  a {
    color: white;
  }
}

@media(max-width: 720px) {
  .welcome {
  height: 40vh;
  position: sticky !important;
  top: 0 !important;
  }
  .background-image {
    height: calc(58vh - 70px);
  }
}
///////////////////////1ER ONGLET/////////////////////////

.info-container {
  height: calc(100vh - 70px);
  overflow: auto;
}


#mes_donations {
  height: calc(100vh - 70px);
}

#actualite {
  padding: 10px;
  background-color: white;
  a {
    background-color: $yellow;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.notifications {
  height: 110px;
  background-color: white;
  justify-content: space-around;
  position: relative;
  margin: 5px 10px;
  p {
    padding: 20px;
    font-size: 14px;
    color: rgb(180, 180, 180);
  }
  i {
    position: absolute;
    color: rgb(180, 180, 180);
    right: 9px;
    top: 9px;
  }
}

.decouvrez {
  display: flex;
  background-color: $yellow;
  color: white;
  margin: 5px 10px;
  margin-left: 0px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  a {
    color: white !important;
  }
  i {
    align-items: center;
    vertical-align: middle !important;
    color: white;
  }
}

.decouvrez:hover {
  background-color: white;
  a {
    color: $yellow !important;
  }
  i {
    align-items: center;
    vertical-align: middle !important;
    color: $yellow;
  }
}


.total_dons {
  margin-top: 30px;
  display: flex;
  margin: 5px 10px;
  align-items: center;
  color: #0881A3;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.total_projets {
  display: flex;
  margin-left: 0px;
  margin: 5px 10px;
  background-color: white;
  padding: 20px;
  color: #0881A3;
  align-items: center;
  text-align: left;
  justify-content: space-between;

}

.total-critere {
  margin-top: 30px;
  text-align: center;
  margin: 5px 10px;
  color: #0881A3;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  h3 {
    text-align: left;
    margin-left: 15px;
  }
}

.donations-count {
  color: $brand-success;
  text-align: center;
  align-items: center;
  font-size: 250%;
  margin-right: 55px;
}

.no-project {
  .discover-project {
    margin-top: 10px;
    padding: 9px;
    font-size: 17px;
  }
  h5 {
    margin-bottom: 30px;
  }
}

.current-projects {
  margin-left: 10px;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  margin-top: 5px;
  background-color: white;
  min-height: 80px;
  font-size: 25px;
    h1 {
    font-size: 31px;
    margin-top: 0px;
    }
}


.container-projects {
  // display: flex;
  // justify-content: space-between;
  height: calc(100vh - 70px);
  padding: 0px;
}

.repartition_cause {
  margin: 10px;
  background-color: white;
  padding: 20px;
}


.header-carousel {
  display: flex;
  height: 110px;
  background-color: white;
  color: $brand-success;
  justify-content: space-around;
  padding: 20px;
  margin-top: 5px;
}


/////////////////2E ONGLET////////////////////

#map {
  background-color: white;
  padding: 20px;
  margin-left:10px;
  flex: 0 0 30%;
  height: 50vh;
  position: sticky !important;
  top: 0 !important;
  margin-top: 5px;
}


.tab-content {
  h4 {
    margin: 30px;
  }
}

////// ONGLET IMPOT/////////////

.container-recus {

}

.zone_de_texte {
  overflow: auto;
  margin-left: 10px;
  height: calc(100vh - 75px);
  h3 {
    color: $brand-success;
  }
}


.comment-faire {
  background-color: white;
  margin-top: 5px;
}

.introduction-tax {
  background-color: white;
  padding: 20px;
  margin-top: 5px;
  h2 {
  margin-top: 5px
  }
}

.tax-images {
  display: flex;
  background-color: white;
}

.tax-icon {
  img {
  width: 65px;
  height: 65px;
  }
  p {
    margin-top: 10px;
  }
}

.calendar {
  text-align: center;
}

.attachments {
  text-align: center;
}

.tax {
  text-align: center;
}

.formulaire_2042 {
  text-align: center;
  display: flex;
  background-color: $yellow;
  color: white !important;
  width: 30%;

}

.mes_recus {
  margin-left: 10px;
  background-color: white;
  padding-left: 10px;
  text-align: center;
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.container-recus {
  margin-top: 5px;

}

.formulaire-tax {
  text-align: center;
  img {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }
}

.deductible-amount {
  position: absolute;
  top: 55px;
  right: 120px;
  font-size: 20px;
  color: #333;
}

.fa-search {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 27px;
  z-index: 2;
}

.fa-arrow-down {
  position: absolute;
  top: 13px;
  left: 96px;
  font-size: 27px;
  z-index: 2;
}

.recus_telechargeables {
  margin-top: 40px;
}

.user-show-slider-label {
  width: 200px;
}
