.payment-step {
  form {
    margin: 30px;
  }
}

.form-amount-update {
  margin: 0px 30px;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-group {
    margin-bottom: 0px;
    max-width: 100px;
  }
}

.subscription-choice {
  background: $medium-gray;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: $brand-success;
    color: white;
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-weight: bolder;
  }
}

.contact-form {
  label {
    font-size: 16px;
    opacity: 0.4;
  }
}

.contact-form-last {
  margin-bottom: 60px;
}

.payment-resume {
  h3 {
    border-bottom: 1px solid rgba(0, 0 ,0 , 0.1);
    padding-bottom: 15px;
    text-transform: none;
    margin-bottom: 30px;
  }
}

#payment-final-amount {
  color: $brand-primary;
}

@media (max-width: 786px) {
  .selected-projects {
    display: block;
  }
}
