.payment-global-container {
  padding-bottom: 70px;
}

.selected-projects {
  display: flex;
  justify-content: center;
}

.selected-projects-item {
  background: $light-gray;
  border: 1px solid $yellow;
  padding: 30px;
  border-radius: 5px;
  width: 200px;
  margin: 10px 20px;
  .badge {
    background-color: $yellow;
  }
}

.subscription-choice {
  background: $light-gray;
  border: 1px solid rgba(0, 0 ,0 , 0.1);
  padding: 30px;
  border-radius: 5px;
  opacity: .4;
  min-height: 160px;
  margin-bottom: 30px;
  &:hover {
    opacity: 1;
    cursor: pointer;
    h5 {
      color: $brand-primary;
    }
  }
  &.active {
    border-color: $brand-primary;
    opacity: 1;
    h5 {
      color: $brand-primary;
    }
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-weight: bolder;
  }
}

.contact-form {
  label {
    font-size: 16px;
    opacity: 0.4;
  }
}

.contact-form-last {
  margin-bottom: 60px;
}

#payment-final-amount {
  color: $brand-primary;
}

@media (max-width: 786px) {
  .selected-projects {
    display: block;
  }
}
