.main-container {
  background-color: white;
  margin: 40px 10%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0 ,0 , 0.1);
}

.main-header {
  border-bottom: 1px solid rgba(0, 0 ,0 , 0.1);
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.abbr[title] {
  border-bottom: 0px;
}


h3 {
  text-transform: uppercase;
  font-size: 22px;
}

.center-and-underline-title {
  display: flex;
  justify-content: center;
  h3 {
    border-bottom: 1px solid rgba(0, 0 ,0 , 0.1);
    padding-bottom: 15px;
  }
}



@media (max-width: 768px) {
  .main-container {
    margin: 40px 0px;
  }
  .main-header {
    display: block;
  }
  h3 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}
