.template-container {
  display: flex;
}

.fixed-background {
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  padding-top: 70px;
  width: 50vw;
  text-align: center;
  position: sticky !important;
  top: 0 !important;
  color: white;
}

.scrollable-content {
  background-color: white;
  width: 50vw;
  overflow-y: scroll;
  height: calc(100vh - 70px);
  color: $gray;
  margin-top: 70px;
}

// Content on the picture side
.template-title {
  margin-top: 10vh;
}


.template-text {
  background-color: rgba(0,0,0,0.4);
  color: rgba(250,250,250,0.8);
  padding: 20px;
  margin: 25vh 5vw;
}

.template-text-long {
  margin: 20px 5vw;
  font-size: 15px;
  text-align: left;
  a {
    color: rgba(250,250,250,0.8);
    text-decoration: underline;
    font-size: 13px;
  }
}

.template-left-cta {
  position: absolute;
  top: 70vh;
  left: 25vw;
  a {
    margin-left: -90px;
  }
}

.template-right-cta {
  position: absolute;
  top: 80vh;
  right: 25vw;
  a {
    margin-right: -90px;
  }
}


 @media (max-width: 768px) {
  .fixed-background {
    display: none;
  }
  .scrollable-content {
    width: 100vw;
  }
  .template-left-cta, .template-right-cta {
    position: absolute;
    bottom: 0;
    z-index: 100;
    top: auto;
    left: auto;
    right: auto;
    width: 100vw;
    a {
      width: 100%;
      border-radius: 0;
      margin: 0;
    }
  }
  .template-title {
    margin-top: 20px;
  }
 }

@media (min-width: 1440px) {
  .template-text-long {
    margin: 20px 10vw;
  }
}
