

<!-- <div class="container asso-banner"> -->
  <div id="carousel-current-projects" class="carousel slide carousel-current-projects" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="carousel-dashboard" role="listbox">

      <div class="item active photo-projects carousel-item" style="background-image: url(<%= image_path @user.donations.first.project.photo %>);">
       <!--  :effect=>"art:ukulele", width: 600, height:1200, crop: :fill, gravity: :face)  -->
        <div class="carousel-caption" id="project-caption">
          <%= @user.donations.first.project.name %>
        </div>
      </div>

      <% @user.donations.each do |donation| %>
      <% if donation.project.end_date > Date.today && donation != @user.donations.first %>
        <div class="item photo-projects carousel-item" style="background-image: url(<%= image_path donation.project.photo %>);">
         <!--  :effect=>"art:ukulele", width: 600, height:1200, crop: :fill, gravity: :face)  -->
          <div class="carousel-caption" id="project-caption">
            <%= donation.project.name %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-current-projects" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-current-projects" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!-- </div> -->
