

<!-- <div class="container asso-banner"> -->
  <div id="carousel-current-projects" class="carousel-current-projects" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="carousel-dashboard" role="listbox">
      <div class="item active carousel-item">
       <%= cl_image_tag("l5pb87f9ckhn4qggxchb.jpg", :effect=>"art:ukulele", width: 600, height: 1200, crop: :fill, :background=>"#101818", :color=>"#ffffff", :opacity=>49) %>
        <div class="carousel-caption" id="project-caption">
        FundOfYou
        </div>
      </div>

      <% @user.donations.each do |donation| %>
      <% if donation.project.end_date > Date.today %>
        <div class="item photo-projects carousel-item">
          <%= cl_image_tag("asia-2929645_1920_h6trf8.jpg", :effect=>"art:ukulele", width: 600, height:1200, crop: :fill, gravity: :face)  %>
          <div class="carousel-caption" id="project-caption">
            <%= donation.project.name %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-current-projects" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-current-projects" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!-- </div> -->
