<div class="container asso-banner">
  <div class="carousel slide" data-ride="carousel" id="carousel-ex">
    <ol class="carousel-indicators">
      <li data-target="#carousel-ex" data-slide-to="0" class="active"></li>
      <% @user.donations.each do |donation| %>
        <% if donation.project.end_date > Date.today %>
        <li data-target="#carousel-ex" data-slide-to="#{+=1}" ></li>
        <% end %>
      <% end %>
    </ol>

    <div class="carousel-inner" id="project-carousel">
      <div class="item active">
        <%=cl_image_tag("soupe_populaire_n7yxxn.jpg", width: 1000, height: 300, crop: :fill) %>
      </div>
      <% @user.donations.each do |donation| %>
        <% if donation.project.end_date > Date.today %>
          <div class="item">
            <%= cl_image_tag("Rohingyas_mpclrd.jpg", width: 1000, height: 300, crop: :fill) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



