<div class="cadre-causes">
  <div class="ecologie-case"><i class="fa fa-leaf"></i><p>Ecologie</p></div>
  <div class="education-case"><i class="fa fa-graduation-cap"></i><p>Education</p></div>
  <div class="actionsociale-case"><i class="fa fa-handshake-o"></i><p>Social</p></div>
  <div class="humanitaire-case"><i class="fa fa-life-ring"></i><p>Humanitaire</p></div>
  <div class="patrimoine-case"><i class="fa fa-institution"></i><p>Patrimoine</p></div>
  <div class="recherche-case"><i class="fa fa-flask"></i><p>Recherche</p></div>
</div>
