<ul class="nav flex-column" role="tablist">
  <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab"><i class="fa fa-money" aria-hidden="true"></i>    Mes dons</a></li>
  <li role="presentation"><a href="#mes_donations" aria-controls="mes_donations" role="tab" data-toggle="tab"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>    Mes projets</a></li>
  <li role="presentation"><a href="#recu_fiscaux" aria-controls="recu_fiscaux" role="tab" data-toggle="tab"><i class="fa fa-arrow-left" aria-hidden="true"></i>    Mes reçus fiscaux</a></li>
</ul>
