<div class="container widget-actualite">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" id="carousel-actualite" role="listbox">

      <div class="item active">
        <div>
          Actualité 1
        </div>
      </div>

      <div class="item">
        <div>
          Actualité 2
        </div>
      </div>

    </div>
  </div>
</div>
