<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "mains_3.jpg" %>');">
  <div class="banner-content">
    <h1>Fund Of You</h1>
    <p>Le site de dons aux associations d'utilité publique</p>
    <a class="buton-banner">Découvrez nos projets</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-hand-o-up" aria-hidden="true"></i>
      <h4> Un selector sur mesure pour vous aider à choisir vos projets sur mesure</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
      <h4>Un abonnement mensuel pour soutenir plusieurs projets</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <h4>Une contribution simplifiée et pratique pour soutenir vos projets coups de coeur</h4>
    </div>
  </div>
</div>

<div class="presentation container">
  <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
        <div class="project">
          <h5> Nos projets en cours </h5>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
           <div class="card-category">Popular</div>
           <div class="card-description">
            <h2>Hola</h2>
              <p>Very cool city, the best</p>
          </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
           <div class="card-category">Popular</div>
           <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
      </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="success">
        <h5>Ils parlent de nous ... </h5>
        <p>Grâce au précieux accompagnement d'Augustin et de son équipe, nous avons pu financé notre projet et avons pu sauvé Pépito et ses amis ! Un grand merci à tous ! <br> <i class="fa fa-paw" aria-hidden="true"></i> Pamela de l'association "Sauvons Pépito"</p>
        <p>FundOfYou nous a permis de financer notre projet et de partir au Bénin dans un orphelinat. Sans leur aide, ce projet n'aurait pas pu se réaliser, Merci du fond du coeur ! <br><i class="fa fa-plane" aria-hidden="true"></i> Aude pour "Action Bénin"</p>
    </div>
  </div>
  </div>
</div>






