<%= link_to "Créer un project", new_project_path, class: "btn btn-primary" %>
<h2>Toutes les assos</h2>

<ul>
  <% @projects.each do |project| %>
  <li> <%= link_to project.name, project_path(project) %> (<%= link_to 'Editer', edit_project_path(project) %>, <%= link_to 'Supprimer', project_path(project),
                method: :delete,
                data: { confirm: "Are you sure?" } %>)</li>
  <% end %>
</ul>
