.breadcrumb-centerer {
  display: flex;
  justify-content: center;
}

.breadcrumb-container {
  display: block;
}

.criteria-breadcrumb {
  margin: 0px auto;
  display: flex;
}

.criteria-breadcrumb-item {
  margin: 0px 25px;
  color:$medium-gray;
  font-size: 12px;
  z-index: 1;
  span {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $medium-gray;
    color: white;
    display: block;
    margin: 0px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.criteria-breadcrumb-item-active {
  color: $yellow;
  span {
    background-color: $yellow;
  }
}

.breadcrumb-line {
  height: 1px;
  background-color: #D8D8D8;
  width: 300px;
  margin: 16px auto -16px;
}
