.discover-project {
  border: 1px solid $yellow;
  background-color: $yellow;
  padding: 16px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  transition: 0.5s background-color ease;
  transition: 0.5s color ease;
  &:hover {
    text-decoration: none;
    background-color: white;
    color: $yellow;
  }
}

.button-submit, .button-reset {
  margin: 5px;
  width: 200px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 3px;
  transition: 0.5s background-color ease ;
  transition: 0.5s color ease ;
  transition: 0.5s border ease ;
  &:hover {
    background-color: white;
    color: $yellow;
    border: 1px solid $yellow;
  }
  &:active {
    color: white;
  }
}

.button-submit {
  border: 1px solid $yellow;
  background-color: $yellow;
  color: white;
}

.button-reset {
  border: 1px solid $medium-gray;
  background-color: $light-gray;
  color: $gray;
}

.button-small {
  padding: 10px;
  width: 150px;
}

.button-large {
  width: 300px;
  font-size: 18px;
}

.button-update {
  margin: 0px 5px;
}

.button-home {
  width: fit-content;
  margin: 20px auto 40px;
}
