.card-home {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-user-home {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}


.card-description-home {
  color: black;
}

.card-description-home h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: solid;
  text-align: center;
}

.card-description-home-title h2 {
  padding-top: 15px;
}

.card-description-home-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  p {
    margin: 0px;
  }
  .index-card-footer-legend {
    font-size: 14px;
  }
  .index-card-bugdet {
    text-align: left;
  }
}




.result-card, .index-card {
  background-size: cover !important;
  margin: 15px 0px;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 16px;
  padding: 8px;
  h5 {
    font-size: 20px;
  }
}

.index-card {
  h5 {
    margin-top: 20px;
  }
}

.index-card-asso {
  background-color: white;
  background-size: cover!important;
  background-position: center !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 85%;
}

.index-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px 10px;
  font-size:16px;
  p {
    margin: 0px;
  }
  .index-card-footer-legend {
    font-size: 12px;
  }
}

.card-focus {
  border: 4px solid $blue;

}

@media (max-width: 768px) {
  .card-focus {
    border: 0;
  }
}
