.card-home {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-user-home {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category-home {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description-home {
  position: absolute;
  color: black;
  top: 152px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  min-width: 100%;
}
.card-description-home h2 {
  font-size: 24px;
  font-weight: solid;
  font-family: $headers-font;
  text-align: center;
  // top: 152px;
  // left: 50%;
  // transform: translateX(-50%);
  // white-space: nowrap;
}

.card-description-home-title h2 {
  padding-top: 15px;
}

.card-description-home-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}




.result-card, .index-card {
  background-size: cover !important;
  margin: 15px 0px;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 16px;
  h5 {
    font-size: 20px;
    margin-top: 40px;
  }
}

.index-card-asso {
  width: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80%;
}

.index-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px 10px;
  font-size:16px;
  p {
    margin: 0px;
  }
  .index-card-footer-legend {
    font-size: 12px;
  }
}

.card-focus {
  border: 4px solid $blue;
}

