.disabled-criteria {
  background-color: rgb(230, 230, 230);
  font-size: 12px;
  padding: 5px 10px;
  color: white;
}

.criteria-dash {
  flex: 0 1 33%;
}

.cadre-causes {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.ecologie-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.education-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.actionsociale-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.humanitaire-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.patrimoine-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.recherche-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.repartition_cause {
  display: flex;
}
