.cadre-causes {
  display: flex;
  align-items: center;
  justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
}

.ecologie-case {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;

  p {
    margin: 0px;
    padding: 10px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
  }
}

.education-case {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;
  p {
    margin: 0px;
    padding: 10px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
  }
}

.actionsociale-case {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;
  p {
    margin: 0px;
    padding: 10px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
  }
}

.humanitaire-case {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;
  p {
    margin: 0px;
    padding: 10px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
  }
}

.patrimoine-case {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.recherche-case {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;
  background-color: $blue;
  color: white;
  p {
    margin: 0px;
    padding: 10px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
  }
}

