.disabled-criteria {
  background-color: rgb(180, 180, 180);
  font-size: 12px;
  padding: 5px 10px;
  color: white;
}

.criteria-dash {
  flex: 0 1 33%;
}

.cadre-causes {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.ecologie-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.education-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.actionsociale-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.humanitaire-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.patrimoine-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.recherche-case {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  p {
    margin: 0px;
    padding: 7px;
  }
  i {
    padding: 7px;
    font-size: 15px;
  }
}

.repartition_cause {
  display: flex;
}

.cause-label {
  min-width: 150px;
}

.cause-progress {
  width: -webkit-fill-available !important;
}


////////////jauge///////////////



.progress-bar-dashboard {
  height: 25px;
  width: 500px;
  background-color: $light-gray;
  border-radius: 10px;
  border: 1px solid $medium-gray;
}

.indicator-bar-dashboard {
  height: 100%;
  background-color: $blue;
  transition-duration: 1s;
  border-radius: 10px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 50px; /* To center it vertically */
}

.progress-bar-dashboard p {
  color: black;
  font-weight: bold;
  color: black;
  padding: 4px;
  font-size: 15px;
}

.share-allocation {
  font-size: 16px;
  line-height: 19px;
}

.cause-progress-bar {
  display: flex;
  justify-content: space-around;
}
