input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #d8d8d8, 0px 0px 0px #e5e5e5;
  background: rgba(216, 216, 216, 0.78);
  border-radius: 1px;
  border: 0px solid #d8d8d8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #d8d8d8, 0px 0px 1px #e5e5e5;
  border: 4px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #40c4ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(224, 224, 224, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #d8d8d8, 0px 0px 0px #e5e5e5;
  background: rgba(216, 216, 216, 0.78);
  border-radius: 1px;
  border: 0px solid #d8d8d8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #d8d8d8, 0px 0px 1px #e5e5e5;
  border: 4px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #40c4ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(208, 208, 208, 0.78);
  border: 0px solid #d8d8d8;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #d8d8d8, 0px 0px 0px #e5e5e5;
}
input[type=range]::-ms-fill-upper {
  background: rgba(216, 216, 216, 0.78);
  border: 0px solid #d8d8d8;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #d8d8d8, 0px 0px 0px #e5e5e5;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #d8d8d8, 0px 0px 1px #e5e5e5;
  border: 4px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #40c4ff;
  cursor: pointer;
  height: 11px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(216, 216, 216, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(224, 224, 224, 0.78);
}

output {
  color: $brand-success;
}
