#carousel-actualite {
  height: 5vh !important;
}

#carousel-dashboard {
  height: calc(100vh - 70px) !important;
}

.carousel-item {
  height: calc(100vh - 70px) !important;
}

.carousel-current-projects {
  position: relative;
}


.photo-projects {
}

.carousel-control.left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    height: 300px;
    position: absolute;
    left: 40px;
}

.carousel-control.right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    height: 300px;
    position: absolute;
    right: 40px;
}

.carousel-caption {
    opacity: 1;
    color: white;
    font-size: "Muli", "Raleway", "Helvetica", "sans-serif";
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 40px;
}

